<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<local_port>1080</local_port>
	<remotes>
		<remote>
			<ip_addr>rua.ss8.site</ip_addr>
			<port>17121</port>
			<method>rc4-md5</method>
			<password>06290724</password>
		</remote>
		<!-- <remote>
			<ip_addr>xxxxx</ip_addr>
			<port>443</port>
			<method>aes-256-cfb</method>
			<password>xxx</password>
		</remote> -->
	</remotes>
</config>