<?xml version="1.0" encoding="utf-8"?>
<configs>

	<localPort>1080</localPort>

	<sleepTime>300</sleepTime>
	
	<!-- ss从哪里获取：0表示此配置下的servers，1表示LMoon的net -->
	<getFrom>0</getFrom>

	<servers>
	<server>
			<id>vps168</id>
			<url>https://www.vps168.tk/post/4.html</url>
			<begin>IP地址</begin>
			<end>混淆</end>
			<type>0</type>
			<param>
				<name>serverIp</name>
				<begin>IP地址[^&lt;p&gt;]*&lt;p&gt;</begin>
				<end>&lt;</end>
				<no>1</no>
			</param>
			<param>
				<name>serverPort</name>
				<begin>&lt;/td&gt;&lt;td[^&gt;]*&gt;</begin>
				<end>&lt;</end>
				<no>3</no>
			</param>
			<param>
				<name>password</name>
				<begin>&lt;span[^&gt;]*&gt;</begin>
				<end>&lt;</end>
				<no>4</no>
			</param>
			<param>
				<name>encryption</name>
				<begin>&lt;/td&gt;&lt;td[^&gt;]*&gt;</begin>
				<end>&lt;</end>
				<no>2</no>
			</param>
		</server>
		<!-- <server>
			<id>ishadowsocks</id>
			<url>https://my.ishadowx.net/</url>
			<begin>id=&quot;portfolio&quot;</begin>
			<end>id=&quot;footer&quot;</end>
			<type>0</type>
			<param>
				<name>serverIp</name>
				<begin>IP Address:&lt;span[^&gt;]*&gt;</begin>
				<end>&lt;</end>
				<no>1</no>
			</param>
			<param>
				<name>serverPort</name>
				<begin>Port:&lt;span[^&gt;]*&gt;</begin>
				<end>&lt;</end>
				<no>2</no>
			</param>
			<param>
				<name>password</name>
				<begin>Password:&lt;span[^&gt;]*&gt;</begin>
				<end>&lt;</end>
				<no>3</no>
			</param>
			<param>
				<name>encryption</name>
				<begin>Method:</begin>
				<end>&lt;</end>
				<no>4</no>
			</param>
		</server>
		<server>
			<id>shadowsocks8</id>
			<url>https://en.ss8.fun/</url>
			<begin>&lt;section id=&quot;free&quot;</begin>
			<end>&lt;section id=&quot;sslist&quot;</end>
			<type>1</type>
			<picUrlBegin>href=&quot;</picUrlBegin>
			<picUrlEnd>&quot;</picUrlEnd>
			<severPicFlag>server</severPicFlag>
		</server>
		<server>
			<id>freessr</id>
			<url>https://freessr.xyz/</url>
			<begin>免费shadowsocks账号</begin>
			<end>SS免费分享站</end>
			<type>0</type>
			<serverIpBegin>服务器地址:</serverIpBegin>
			<serverIpEnd>&lt;</serverIpEnd>
			<serverPortBegin>端口:</serverPortBegin>
			<serverPortEnd>&lt;</serverPortEnd>
			<passwordBegin>密码:</passwordBegin>
			<passwordEnd>&lt;</passwordEnd>
			<encryptionBegin>加密方式:</encryptionBegin>
			<encryptionEnd>&lt;</encryptionEnd>
		</server> -->
		<!-- <server>
			<id>freevpnss</id>
			<url>http://jn9.org/</url>
			<begin>免费SS帐号</begin>
			<end>商家推荐</end>
			<type>0</type>
			<serverIpBegin>服务器地址：</serverIpBegin>
			<serverIpEnd>&lt;</serverIpEnd>
			<serverPortBegin>端口：</serverPortBegin>
			<serverPortEnd>&lt;</serverPortEnd>
			<passwordBegin>码：</passwordBegin>
			<passwordEnd>&lt;</passwordEnd>
			<encryptionBegin>加密方式：</encryptionBegin>
			<encryptionEnd>&lt;</encryptionEnd>
		</server>-->
	</servers>


</configs>
